<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Elon Musk</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <ul id="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="works">Works</a></li>
        <li><a href="photos">Gallery</a></li>
      </ul>
    </nav>
    <%- body %>
  </body>
</html>
