<h1>Greatest Accomplishments</h1>
<div id="container">
  <div class="companies">
    <h2>PayPal</h2>
    <p>Text about PayPal</p>
  </div>

  <div class="companies">
    <h2>SpaceX</h2>
    <p>Text about SpaceX</p>
  </div>

  <div class="companies">
    <h2>Tesla</h2>
    <p>Text about Tesla</p>
  </div>

  <div class="companies">
    <h2>SolarCity</h2>
    <p>Text about SolarCity</p>
  </div>
</div>
